* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

body {
  font-family: Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
  display: flex;
  margin: 16px;
}
