:root {
  --primary-bg-color: #36454f;
  --secondary-bg-color: #f8f8ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-bg-color);
  font-family: Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
  display: flex;
  margin: 1rem;
}

.main-menu {
  margin: 5rem auto;
  max-width: 30rem;
  width: 90%;
  background: var(--secondary-bg-color);
  padding: 1rem;
  text-align: center;
}
