.card {
  display: inline-block;
  position: relative;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
  height: 285px;
  width: 180px;
  padding: 8px;
}

.card:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card-cost {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  height: 24px;
  width: 24px;
  text-align: center;
}